.hidden {
  display: none !important;
}

.padding-0 {
  padding: 0 !important;
}

a {
  color: white;
  text-decoration: none;
  width: 55%;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-sixty-percent {
  width: 60%;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-eighty-two {
    width: 82%;
  }

  button {
    padding: 0.5rem;
  }

  a {
    width: 80%;
  }
}

.column-quarter {
  width: 40%;
}
