body {
  background-color: whitesmoke;
}

img {
  width: 100%;
  border-radius: 10px;
}

input {
  width: 100%;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  padding: 3%;
  outline-color: #562b81;
}

textarea {
  width: 100%;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  resize: none;
  outline-color: #562b81;
}

header {
  font-family: 'Proza Libre', sans-serif;
  background-color: #562b81;
  color: white;
}

h1 {
  font-family: 'Proza Libre', sans-serif;
}

button {
  background-color: #562b81;
  border-radius: 4px;
  border: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
}

label {
  font-family: 'Proza Libre', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.button {
  text-align: end;
  width: 100%;
  padding: 1.5%;
}

@media screen and (max-width: 760px) {
  button {
    width: 20%;
    padding: 1%;
  }

  .button {
    padding: 10px 0 0 0;
  }
}
