
/* .padding-top {
  padding-top: 26px;
} */

body {
  background-color: whitesmoke;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  height: 100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 10px;
  right: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

ul {
  padding: 0;
  list-style-type: none;
}

input {
  width: 100%;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  padding: 3%;
  outline-color: #562b81;
}

textarea {
  width: 100%;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  resize: none;
  outline-color: #562b81;
}

header {
  font-family: 'Proza Libre', sans-serif;
  background-color: #562b81;
  color: white;
}

h1 {
  font-family: 'Proza Libre', sans-serif;
}

button {
  background-color: #562b81;
  border-radius: 4px;
  border: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4rem;
}

h2 {
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
}

label {
  font-family: 'Proza Libre', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.button {
  text-align: end;
  width: 10%;
  padding: 1.5%;
}

.justify-align {
  justify-content: space-between;
  align-items: baseline;
}

.fa-pen {
  position: absolute;
  right: 0;
  color: #562b81;
}

.justify {
  justify-content: space-between;
}

.delete-button {
  color: red;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  text-align: left;
  width: fit-content;
}

.align-items {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.text-align {
  text-align: end;
}

.position-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
}

.modal {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1%;
  line-height: 3rem;
}

.justify-content-center {
  justify-content: center;
}

.cancel {
  background-color: #b6b6b6;
  color: #292929;
  font-size: 16px;
  font-weight: 400;
}

.confirm {
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: 400;
  width: fit-content;
}

.vis-hidden {
  visibility: hidden;
}

@media screen and (max-width: 760px) {
  button {
    width: 20%;
    padding: 1%;
  }

  .button {
    padding: 10px 0 0 0;
  }

  .modal {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3% 2%;
    line-height: 3rem;
  }
}

.view {
  display: block;
}
